<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>ブロック崩し</title>
</head>
<body>
	<h1>ブロック崩し タイムアタック</h1>
	<div></div>
	
	<canvas id="gameCanvas" width="600" height="500"></canvas>
<!--	<button id="startButton">スタート</button>-->
	
	<form th:action="@{/logout}" method="post">
		<button type="submit">ログアウト</button>
	</form>
	
	<div id="ranking">
		<h2>ランキング TOP10</h2>
		<ol>
			<li th:each="score : ${top10}">
				<span th:text="${score.user.username}">User</span>:<span th:text="${score.time}">0.0</span>秒
			</li>
		</ol>
	</div>
	
	<div th:if="${myBest != null}">
		<h3>自分のベストタイム</h3>
		<p th:text="${myBest.time} + '秒'"></p>
	</div>
	
	<script src="/js/game.js"></script>
</body>
</html>